* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    display: grid;
    overflow-y: scroll;
    grid-template-rows: repeat(10, 100vh);
    grid-template-columns: 100vw;
    justify-content: center;
    align-content: center;
    background-color: rgb(18,18,18);
    overflow-x: hidden;
}

.levelChart {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 16px 1px rgb(73, 73, 73);
}

.titlePage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: Helvetica;
    text-shadow: 3px 3px 5px #691496
}

.title h3, h4 {
    margin: 0;
    text-align: center;
}

.titlePage h1{
    color: rgb(216, 216, 216);
    font-family: Helvetica;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: 5px 4px 5px #691496;
    font-size: 4vh;
}

.authors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 2.5vh;
    height: 50%;
    align-self: center;
    justify-self: center;
}

.author {
    padding: 5px;
    text-align: center;
}

.accuracyChart {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 16px 1px rgb(141, 141, 141);
}

.radarCharts {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    height: 96%;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 16px 1px rgb(141, 141, 141); 
    overflow-y: scroll;
}

.radar {
    flex-basis: 45%;
    height: 45%;
    box-shadow: 0px 0px 16px 1px rgb(141, 141, 141);
}

.exam {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    width: 96%;
    height: 96%;
    box-shadow: 0px 0px 16px 1px rgb(141, 141, 141);
    font-size: smaller;
    overflow-y: scroll;
}

.exam h1 {
    flex-basis: 100%;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.songData {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


