* {
    box-sizing: border-box;
}

html, body {
 margin: 0;
 width: 100%;
 height: 100%;
}

body {
    background-color: darkgreen;   
}

header {
    width: 100%;
    height: 30%;
    background-image: url("https://gfx.antyradio.pl/var/antyradio/storage/images/film/news/ian-mckellen-powroci-jako-gandalf-w-serialu-amazona-19235/1337890-1-pol-PL/Ian-McKellen-powroci-jako-Gandalf-w-serialu-Amazona_article.jpg");
    background-size: cover;
    background-position: top;
}

.dinosLeft {
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.dinosRight {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.content {
    position: absolute;
    left: 20%;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: pink;
}